<ion-router-outlet id="content1"></ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab= "home-admin">
          <ion-icon name="home" color="medium"> </ion-icon>
        </ion-tab-button>
        <ion-tab-button tab= "trans-admin">
          <ion-icon name="time" color="medium"> </ion-icon>
        </ion-tab-button>
        <ion-tab-button tab= "commission">
          <ion-icon name="person" color="medium"> </ion-icon>
        </ion-tab-button>
        <ion-tab-button tab= "calc">
          <ion-icon name="calculator" color="medium"> </ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
